$background-color: #1a1a1a;
$text-color: #fff;

$buttonColor: black;
$dangerColor: #ff4d4f;

$table-background: #2d2c2c;
$table-even-row: #2C2C2EFF;

$table-header: #1a1a1a;
$table-odd-row: #4a4a4b;
$table-row-hover: #2c2c2c;