$background-color: #1a1a1a;
$text-color: #fff;

$accent-color: #00bd7e;
$color-primary: #2d2c2c;
$color-secondary: #4a4a4b;

$color-hover-primary: #00bd7e;
$buttonColor: black;
$dangerColor: #ff4d4f;

$table-background: #2d2c2c;
$table-even-row: #2c2c2eff;

$table-header: #1a1a1a;
$table-odd-row: #4a4a4b;
$table-row-hover: #2c2c2c;

$small-screen: 1280px;
$mobile-screen: 768px;
